.employee-List-grid {
    width: 100%;
    font-family: -webkit-body;
    // padding: 20px;
  }

  .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper, 
  .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container,
    .ag-theme-alpine .ag-layout-print .ag-center-cols-clipper, .ag-theme-alpine 
    .ag-layout-print .ag-center-cols-container, .ag-theme-alpine-dark .ag-layout-auto-height
    .ag-center-cols-clipper, .ag-theme-alpine-dark .ag-layout-auto-height .ag-center-cols-container, 
    .ag-theme-alpine-dark .ag-layout-print .ag-center-cols-clipper, .ag-theme-alpine-dark 
    .ag-layout-print .ag-center-cols-container {
    min-height: auto;
  }
//   .two-parts-container {
//     display: flex;
//     height: 90vh;
//     background: '#0092ff';/* Adjust this value based on your layout requirements */
//         background-color: #0092ff;
//   }

//   .part {
//     flex: 1;
//      height: 80vh;
//     padding: 30px;
//     box-sizing: border-box;
//     border: 3px solid #ccc; /* Border around each part */
//   }
//   .part1 {
//       flex: 1;
//        height: 80vh;
//       padding: 30px;
//       box-sizing: border-box;
//       border: 3px solid #ccc; /* Border around each part */
//     }

//   .gap {
//     width: 20px; /* Adjust the gap width as needed */
//   }
//   .gapHeight {
//       height: 20px; /* Adjust the gap width as needed */
//     }

//   .gap2 {
//       width: 60px; /* Adjust the gap width as needed */
//     }

//    /* .two-parts-container {
//       display: flex;
//       height: 100vh;


//       & > .part {
//         flex: 0 0 30%;
//         box-sizing: border-box;
//         border: 1px solid #ccc;
//       }


//       & > .gap {
//         width: 2%;
//       }
//     }
//     */

//     .gutter-box {
//       padding: 8px 0;
//             paddingLeft: 8px 0;
//       background: #00a0e9;
//       height: '400px'
//     }
//     .name-span {

//          wordWrap: 'break-word';
//       font-family: Times; /* Set your desired font family */
//       color: blue; /* Set your desired text color */
//     }
//     .designation-style {
//               font-size: 12px;  // Set a different font size for the second line
//                 vertical-align: top;
//                 horizontal-align: center;
//                 margin-left: 3em;
//               fontWeight: 'bold';
//                wordWrap: 'break-word';

//           font-family: Times, sans-serif; /* Set your desired font family */
//           color: black; /* Set your desired text color */
//         }

//         /* Responsive styles based on viewport width */
//         @media (max-width: 600px) {
//           .responsive-card {
//             width: 80%; /* Set a relative width for small screens */
//           }
//         }

//         /* Default styles for larger screens */
//         .responsive-card {
//           width: 300px; /* Set a default width for larger screens */
//         }
.card {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 20px;
  cursor: pointer;
  display: inline-block;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 20px;
}

h2 {
  margin: 0;
}

p {
  margin: 10px 0;
}



.two-parts-container {
  display: flex;
  height: 90vh;
}

.part {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow-y: auto; /* Add scroll if content overflows vertically */
}

.left-part {
  flex: 3; /* 30% of the width */
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow-y: auto; /* Add scroll if content overflows vertically */
  background-color: #ffffff; /* Background color for the left part */
}

.right-part {
  flex: 7; /* 70% of the width */
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #dfdbdb;
  overflow-y: auto; /* Add scroll if content overflows vertically */
  background-color: #ffffff; /* Background color for the right part */
}

.gap {
  width: 10px; /* Adjust the gap width as needed */
  background-color: #d1caca;
}